# .gitignore
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.DSA_Store
.idea/
.vscode/

# Keep tfvars for this learning repo as it has no secrets, 
# but usually you might gitignore it in production if it had keys.
# *.tfvars
